@font-face {
  font-family: "FuturaStd-Book";
  src: url("../../fonts/FuturaStd-Book.eot");
  src: url("../../fonts/FuturaStd-Book.eot?#iefix") format('embedded-opentype'), url("../../fonts/FuturaStd-Book.woff") format('woff'), url("../../fonts/FuturaStd-Book.ttf") format('truetype'), url("../../fonts/FuturaStd-Book.woff#FuturaStd-Book") format('svg'); }

@font-face {
  font-family: "FuturaStd-CondensedMedium";
  src: url("../../fonts/FuturaStd-CondensedMedium.eot");
  src: url("../../fonts/FuturaStd-CondensedMedium.eot?#iefix") format('embedded-opentype'), url("../../fonts/FuturaStd-CondensedMedium.woff") format('woff'), url("../../fonts/FuturaStd-CondensedMedium.ttf") format('truetype'), url("../../fonts/FuturaStd-CondensedMedium.woff#FuturaStd-CondensedMedium") format('svg'); }

@font-face {
  font-family: "FuturaStd-BoldOblique";
  src: url("../../fonts/FuturaStd-BoldOblique.eot");
  src: url("../../fonts/FuturaStd-BoldOblique.eot?#iefix") format('embedded-opentype'), url("../../fonts/FuturaStd-BoldOblique.woff") format('woff'), url("../../fonts/FuturaStd-BoldOblique.ttf") format('truetype'), url("../../fonts/FuturaStd-BoldOblique.woff#FuturaStd-BoldOblique") format('svg'); }

@font-face {
  font-family: "FuturaStd-CondensedBold";
  src: url("../../fonts/FuturaStd-CondensedBold.eot");
  src: url("../../fonts/FuturaStd-CondensedBold.eot?#iefix") format('embedded-opentype'), url("../../fonts/FuturaStd-CondensedBold.woff") format('woff'), url("../../fonts/FuturaStd-CondensedBold.ttf") format('truetype'), url("../../fonts/FuturaStd-CondensedBold.woff#FuturaStd-CondensedBold") format('svg'); }

@font-face {
  font-family: "FuturaStd-HeavyOblique";
  src: url("../../fonts/FuturaStd-HeavyOblique.eot");
  src: url("../../fonts/FuturaStd-HeavyOblique.eot?#iefix") format('embedded-opentype'), url("../../fonts/FuturaStd-HeavyOblique.woff") format('woff'), url("../../fonts/FuturaStd-HeavyOblique.ttf") format('truetype'), url("../../fonts/FuturaStd-HeavyOblique.woff#FuturaStd-HeavyOblique") format('svg'); }

@font-face {
  font-family: "SignPainter";
  src: url("../../fonts/SignPainter.eot");
  src: url("../../fonts/SignPainter.eot?#iefix") format('embedded-opentype'), url("../../fonts/SignPainter.woff") format('woff'), url("../../fonts/SignPainter.ttf") format('truetype'), url("../../fonts/SignPainter.woff#SignPainter") format('svg'); }
.font-futura-book {
  font-family: "FuturaStd-Book", Helvetica, Arial, Sans-Serif;
  font-weight: normal;
  font-style: normal; }

.font-futura-medium-condensed {
  font-family: "FuturaStd-CondensedMedium", Helvetica, Arial, Sans-Serif;
  font-weight: normal;
  font-style: normal; }

.font-futura-bold-oblique {
  font-family: "FuturaStd-BoldOblique", Helvetica, Arial, Sans-Serif;
  font-weight: normal;
  font-style: normal; }

.font-futura-bold-condensed {
  font-family: "FuturaStd-CondensedBold", Helvetica, Arial, Sans-Serif;
  font-weight: normal;
  font-style: normal; }

.font-futura-heavy-oblique {
  font-family: "FuturaStd-HeavyOblique", Helvetica, Arial, Sans-Serif;
  font-weight: normal;
  font-style: normal; }

.font-signpainter {
  font-family: "SignPainter", Helvetica, Arial, Sans-Serif;
  font-weight: normal;
  font-style: normal; }