head
	title The European Startup Factory
	link(href='./assets/styles/css/main.css', rel='stylesheet')
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="robots" content="noindex")
	meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
	meta(name="viewport" content="initial-scale = 1, user-scalable = no")
	link(rel="apple-touch-icon" href="/assets/images/icons/icon152.png")
	link(rel="apple-touch-startup-image" sizes="2048x1496"  href="/assets/images/icons/startupScreen.png")
	script(src="https://use.typekit.net/jhi7uvv.js")
	script try{Typekit.load({ async: true });}catch(e){}