script(src='assets/bower_components/jquery/dist/jquery.min.js')
script(src='assets/bower_components/handlebars.js/dist/handlebars.min.js')
script(src='assets/bower_components/fastclick/lib/fastclick.js')
script(src='assets/scripts/libs/three.min.js')
script(type="text/javascript" src="cordova.js")
script(src='assets/scripts/min/app-min.js')