//- index.jade
doctype html
html
	include ./includes/_head.jade
	body
		.flexContainer
			figure#logo
				img(src='/assets/images/startupFactoryLogo.png' alt="The European Startup Factory")
		#template
		include ./includes/_foot.jade