@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600,400italic,600italic')
@require 'libs/_normalize'
@require '_vars'
@require 'components/_grid.styl'
@require 'components/_keypad.styl'
body
  background url(../../images/nightlights-background.jpg) center center/cover
  font-family font-family