.popup
  width 100vw
  height 100vh
  position absolute
  top 0
  left 0
  display flex
  .overlay
    position absolute
    width 100vw
    height 100vh
    top 0
    left 0
    background url(../../images/nightlights-background.jpg) center center/cover
    filter blur(10px)
  .body
    position         relative
    width            350px
    height           350px
    color            #fff
    background-image linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #174389 100%)
    border-radius    50%
    overflow         hidden
    margin           auto
    text-align       center
    display          flex
    flex-direction   row
    align-items      center
    padding          15px
    .video
      height          380px
      width           623px
      background-size cover
      object-fit      cover
      margin-left     -15px
      margin-right    -15px
    .inner
      margin 0 auto