div.twoColBtnGroup
	.popup
		.body
			.inner
				header
					h2 {{ title }}
				p.font-futura-heavy-oblique {{{ body }}}
	.btnGroup(id='{{id}}')
		{{#each buttons}}
		{{#if href}}
		a.btn(href='{{href}}') {{text}}
		{{/if}}
		{{#if action}}
		button.btn(onclick='{{action}}') {{text}}
		{{else}}
		button.btn {{text}}
		{{/if}}
		{{/each}}