#videoControls
  position absolute
  width    100px
  height   100px
  overflow hidden
  top      0
  left     0
  bottom   0
  right    0
  margin   auto
  pointer-events none
  div
    width:         100px
    height         100px
    display        none
  #play
    background url('../../bower_components/open-iconic/svg/media-play.svg') center center/contain no-repeat
  #pause
    background url('../../bower_components/open-iconic/svg/media-pause.svg') center center/contain no-repeat
  #replay
    background url('../../bower_components/open-iconic/svg/reload.svg') center center/contain no-repeat