//- index.jade
doctype html
html
	include includes/_head
	body
		script
			| var stage = 0;
		.flexContainer
			figure#logo
				img(src='assets/images/startupFactoryLogo.png' alt="The European Startup Factory")
		#template
			a(href='three.html') Three
		include includes/_foot