//- index.jade
doctype html
html
	include includes/_head
	body
		.flexContainer
			figure#logo
				img(src='/assets/images/startupFactoryLogo.png' alt="The European Startup Factory")
		#template
		include includes/_foot