.keypad
	.result
	.keyRow
		.key(data-num='1')
		.key(data-num='2')
		.key(data-num='3')
	.keyRow
		.key(data-num='4')
		.key(data-num='5')
		.key(data-num='6')
	.keyRow
		.key(data-num='7')
		.key(data-num='8')
		.key(data-num='9')
	.keyRow
		.key
		.key(data-num='0')
		.key(data-num='undo')
			img(src='/assets/bower_components/open-iconic/svg/media-step-backward.svg' alt='undo')